 body{
     background-color: black;
 }


  header {
	background-color: green;
	padding: 30px;
	height: 80px;
	text-align: center;
	font-size: 35px;
	color: white;
	text-transform: uppercase;
	border-bottom: 10px solid black;
	background-image: url('icons/sacar.png');
	background-size: 10%;
	font-family: 'Major Mono Display', monospace;
  }